In [2]:
import sys
import mysql.connector
from mysql.connector import errorcode
import time
import random
import numpy as np
from PIL import Image
import matplotlib.pyplot as plt
import csv

In [23]:
try:
    conn = mysql.connector.connect(host = 'kurly-db.cxt53rg7mbem.ap-northeast-2.rds.amazonaws.com',port = 3306,database = 'kurlyDB',user = 'root',password = 'zjfflxnejans')
    print("Connection established")
except mysql.connector.Error as err:
    if err.errno == errorcode.ER_ACCESS_DENIED_ERROR:
        print("Something is wrong with the user name or password")
    elif err.errno == errorcode.ER_BAD_DB_ERROR:
        print("Database does not exist")
    else:
        print(err)
else:
    cursor = conn.cursor(prepared=True)
    #물품(1-122)
    region_row_num = 6
    region_col_num = 7
    region_difficulty = [[0 for i in range(region_col_num)] for j in range(region_row_num)]
    
    sql_address = "SELECT delivery_difficulty FROM fake_invoice where address_row = (%s) and address_col = (%s);"
    sql_region_difficulty = "insert into region_difficulty_sum(address_row,address_col,difficulty) values (%s,%s,%s);"
    
    for region_row in range(1,region_row_num+1):
        for region_col in range(1,region_col_num+1):
            delivery_difficulty = 0
            
            cursor.execute(sql_address,[region_row,region_col])
            for result in cursor:
                delivery_difficulty += result[0]
            region_difficulty[region_row-1][region_col-1] = round(delivery_difficulty,2)
            cursor.execute(sql_region_difficulty,[region_row,region_col,delivery_difficulty])
    
    conn.commit()
    sum = 0
    for i in region_difficulty :
        for j in i:
            print(j,end=" | ")
            sum += j
        #input
        
        print()
        print("----------------------------------------")
    print(round(sum,1))

Connection established
5.1 | 3.0 | 4.0 | 5.0 | 10.5 | 2.0 | 1.0 |
----------------------------------------
5.4 | 3.0 | 0 | 1.2 | 6.7 | 3.0 | 2.0 |
----------------------------------------
8.4 | 10.7 | 9.6 | 3.0 | 3.1 | 10.6 | 3.9 |
----------------------------------------
8.1 | 11.1 | 4.5 | 14.9 | 5.9 | 3.0 | 0 |
----------------------------------------
19.7 | 4.4 | 15.2 | 8.1 | 0 | 6.3 | 3.4 |
----------------------------------------
3.3 | 0 | 9.7 | 11.4 | 6.0 | 1.0 | 6.7 |
----------------------------------------
243.9